spring:
    thymeleaf:
    # ???????????true?
    cache: true
    # ??????????????
    check-template: true
    # ???????????????true?
    check-template-location: true
    # Content-Type ???????text/html?
    content-type: text/html
    # ?? MVC Thymeleaf ?????????true?
    enabled: true
    # ????
    encoding: UTF-8
    # ??????????????????????
    excluded-view-names:
    # ?????????????????? StandardTemplate-ModeHandlers?????HTML5?
    mode: HTML5
    # ???URL?????????????????classpath:/templates/?
    prefix: classpath:/templates/
    # ???URL??????????????????.html?
    suffix: .html
    redis:
        host: 127.0.0.1
        password:
        lettuce:
            pool:
                max-active: 256
                max-idle: 256
    #   ?????
    datasource:
        driver-class-name: org.mariadb.jdbc.Driver
        url: jdbc:mariadb://192.168.0.120:33306/avbook
        username: root
        password: 123456
        hikari:
            maximum-pool-size: 500
            minimum-idle: 5
            connection-timeout: 30000
            idle-timeout: 600000
            max-lifetime: 1800000
            pool-name: MyAppHikariCP
            connection-test-query: SELECT 1

#???? WEB ????
server:
    port: 8084

### mybatis-plus??
mybatis-plus:
    mapper-locations: classpath*:**/mapping/*.xml
    type-aliases-package: org.holic.javspy.mapper
    configuration:
        # ??xml???
        cache-enabled: true
        lazy-loading-enabled: true
        call-setters-on-nulls: true
        aggressive-lazy-loading: true
        map-underscore-to-camel-case: true
        auto-mapping-unknown-column-behavior: warning
        log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    global-config:
        banner: false
        db-config:
            # ?????????
            logic-delete-field: deleted