<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.holic.javspy.javbusapi.mapper.JavbusFollowActorMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO javbus_follow_actor (actor_name, remark, created_at)
        VALUES (#{actorName}, #{remark}, NOW())
    </insert>

    <delete id="deleteByName">
        DELETE FROM javbus_follow_actor
        WHERE actor_name = #{actorName}
    </delete>
</mapper>
