<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.holic.javspy.javbusapi.mapper.JavbusApiMovieMapper">

    <sql id="allColumns">
        id, code, title, cover_url, cover_hd, cover_local, cover_width, cover_height,
        release_date, duration, director_id, studio_id, publisher_id, series_id,
        detail_url, gid, uc, raw_json, created_at, updated_at
    </sql>

    <select id="searchMovies" resultType="org.holic.javspy.javbusapi.model.JavbusApiMovie">
        SELECT <include refid="allColumns"/>
        FROM javbus_movie
        <where>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="keyword != null and keyword != ''">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="releaseDate != null and releaseDate != ''">
                AND release_date = #{releaseDate}
            </if>
        </where>
        ORDER BY release_date DESC, id DESC
    </select>

    <update id="updateCoverLocal">
        UPDATE javbus_movie
        SET cover_local = #{coverLocal},
            updated_at  = NOW()
        WHERE code = #{code}
    </update>
</mapper>
