<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.holic.javspy.mapper.JavMapper">
    <insert id="insertMovie">
        INSERT INTO avbook_javbus_movie (
            censored_id, movie_title, movie_pic_cover, release_date, movie_length,
            Director, Studio, Label, Series, Genre, JAV_Idols,gid,Similar
        ) VALUES (
                     #{id}, #{title}, #{img}, #{date}, #{videoLength},
                     #{director.id}, #{producer.id}, '1', #{series.id}, #{genresstr}, #{starstr},#{gid},#{similarmoviesstr}
                 )
    </insert>
    <insert id="insertInfo2Tabel">
        INSERT INTO ${table}(
            code_36,${valuename}
        ) VALUES (
            #{id},#{value}
        )
    </insert>
    <insert id="insertStar2DB">
        INSERT INTO avbook_javbus_star (
        code_36, star_name, star_birthday, star_age, star_cupsize,
        star_height, star_bust, star_waist, star_hip, hometown,
        hobby, star_pic, favorite
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name}, #{item.birthday}, #{item.age}, #{item.bust}, #{item.height}, #{item.bust}, #{item.waistline}, #{item.hipline}, #{item.birthplace}, #{item.hobby},#{item.avatar}, 0)
        </foreach>
    </insert>
    <insert id="insertMangnets">
        INSERT INTO avbook.avbook_javbus_magnet
        (magnet_xt, gid, censored_id, magnet_name, magnet_type, magnet_date, have_hd, have_sub)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.link}, #{gid},'', #{item.title}, #{item.size}, #{item.shareDate}, #{item.isHD},#{item.hasSubtitle})
        </foreach>
    </insert>

    <select id="getMovieCount" resultType="java.lang.Integer">
        select COUNT(*) from avbook_javbus_movie
    </select>
    <select id="existsByTitle" resultType="java.lang.Boolean">
        select COUNT(*) from avbook_javbus_movie where censored_id = #{id}
    </select>
    <select id="existsInfo" resultType="java.lang.Boolean">
        SELECT COUNT(*) from ${table} where code_36 = #{id}
    </select>
    <select id="getMovieDetail" resultType="org.holic.javspy.model.MovieDetail">
        select censored_id as id, movie_title as title, movie_pic_cover as img, release_date as date, movie_length as  videoLength,
               Director as director, Studio as producer, Label, Series as series, Genre as genresstr, JAV_Idols as actors,gid,Similar as similarmoviesstr
        from avbook_javbus_movie where censored_id = #{id}
    </select>
    <select id="getMovieMagnets" resultType="org.holic.javspy.model.Magnet">
        select magnet_xt as link, gid, censored_id, magnet_name as title, magnet_type as size,
               magnet_date as shareDate, have_hd as isHD, have_sub as hasSubtitle from avbook_javbus_magnet where gid = #{gid}
    </select>
</mapper>